build
dist
builddir

# Ignore downloaded or built subprojects
**/subprojects/*
# but specifically allow configuration files
!**/subprojects/meson.build
!**/subprojects/*.wrap
!**/subprojects/.gitignore

.vscode
__pycache__
.coverage
coverage/
coverage*
